<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liql.photograph.utils">
    <!--调用相机权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--  从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <!--7.0需要的Uri权限提供-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.liql.photograph.utils"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
